{% extends 'base.html.twig' %}

{% block body %}
    <h1>
        {{ product.name }}
        <small class="badge badge-info">{{ product.price }}€</small>
    </h1>
    <h2>{{ product.category.name }}</h2>
    <div class="row">
        <div class="col">
            <img src="{{ vich_uploader_asset(product, 'imageFile') }}" class="card-img-top"
                 alt="Image de {{ product.name }}">
        </div>
        <p class="col">{{ product.description | raw('html') }}</p>

        <form method="post" action="{{ path('app_basket_add') }}">
            <input type="hidden" name="id" value="{{ product.id }}" />
            <input type="hidden" name="name" value="{{ product.name }}" />
            <div class="form-group">
                <label for="quantity">Quantité :</label>
                <input type="number" name="quantity" id="quantity" class="form-control" value="1">
            </div>
            <input type="submit" value="Ajouter au panier" class="btn btn-outline-success">
        </form>
    </div>

    <p>
        Publié le {{ product.createdAt | date('d/m/Y à H:i') }}
        , vu {{ product.nbViews }} fois <br/>
        <a href="{{ path('app_product_index') }}"
           class="btn btn-outline-secondary">Retour à la liste</a>
    </p>
{% endblock %}
